@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-login: #003f72;
  --bg-white: #fff;
  --bg-sidebar: #fff;
  --bg-main: #e3e3e3;
  --bg-dark-sidebar: rgb(18, 20, 24);
  --bg-dark-main: rgb(37, 37, 49);
  --bg-button-user: rgb(203, 213, 225);
  --bg-button-user-dark: rgb(30, 32, 36);
  --bg-dark-options: rgb(30, 32, 36);
  --text-footer: #c3c3c3;
  --text-white: #fff;
  --text-title-login: #4480da;
  --text-label-login: #303030;
  --text-placeholder-login: #b6b6b6;
  --text-input-dark: rgb(241, 245, 249);
  --text-button-login: #4685fe;
  --text-title-profile: rgb(71, 85, 105);
  --text-subTitle-profile: rgb(148, 163, 184);
  --text-alert: rgb(250, 204, 21);
  --focus-input-login: #4480da;
  --border-error: rgb(239, 68, 68);
  --border-select: rgb(226, 232, 240);
  --border-dark: rgb(41, 45, 51);
  --label-color-error: rgb(248, 113, 113);
  --light-blue-opacity: rgb(96, 165, 250, 0.8);
  --light-blue: rgb(96, 165, 250);
  --dark-blue: rgb(59, 130, 246);
  --hover-dark-logout: rgb(248, 113, 113);
  --hover-dark-theme: rgb(96, 165, 250);
  --hover-light-route: rgb(226, 232, 240);
  --hover-dark-route: rgb(71, 85, 105);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
